bcrypt==4.0.1
ecdsa==0.19.0
fastapi==0.115.12
fastmcp==1.0
openpyxl==3.1.5
passlib==1.7.4
pdfplumber==0.11.4
Pillow==10.4.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
pytest==8.3.5
pytesseract==0.3.13
python-jose==3.3.0
rsa==4.9.1
six==1.17.0
SQLAlchemy==2.0.40
uvicorn==0.34.0